<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <title>방명록</title>

        <script>
            function writeComment(){
                var form = document.getElementById("form_comment");
                axios({
                    method : 'post',
                    url : 'http://localhost:8080/visitor/write',
                    data : {
                        name : form.name.value,
                        comment : form.comment.value
                    }
                })
                .then((rep) => { return rep.data; })
                .then((data) => {

                    let html = 
                    "<tr id='tr_" + data.id +"'><td>" + data.id + "</td><td>" + form.name.value + "</td><td>" + form.comment.value + "</td>" + 
                        "<td><button type='button' onclick='editComment(" + data.id + ");'>수정</button></td>" + 
                        "<td><button type='button' onclick='deleteComment(" + data.id + ");'>삭제</button></td></tr>";
                    
                    $( "table" ).append(html);  //jquery 구문
                });        
            }

            function editComment( id ){
                axios({
                    method: 'get',
                    url: 'http://localhost:8080/visitor/get?id=' + id
                })
                .then((rep) => { return rep.data })
                .then((data) => {
                    console.log( data.result);
                    
                    var form = document.getElementById("form_comment");
                    form.name.value = data.result.name;
                    form.comment.value = data.result.comment;

                    var html =
                    "<button type='button' onclick='editDo(" + id + " );'>수정</button>" +
                    "<button type='button' onclick='editCancel();'>취소</button>";

                    document.getElementById("button-group").innerHTML=html;
                });
            }

            function editCancel(){
                var form = document.getElementById("form_comment");
                form.name.value = "";
                form.comment.value = "";
                // form.reset(); 으로 해도 무방하다.
                var html = "<button type='button' onclick='writeComment();'>등록</button>";
                document.getElementById("button-group").innerHTML=html;
            }

            function editDo(id) {
                var form = document.getElementById("form_comment");
                axios({
                    method: 'patch', //put = 전부다 갈아엎는거 patch= 일부만 갈아엎는거
                    url: 'http://localhost:8080/visitor/edit',
                    data: {
                        id: id,
                        name : form.name.value,
                        comment : form.comment.value
                    }
                }).then((rep) => { return rep.data; })
                .then((data) => {
                    alert( data );

                    var tr = document.getElementById("tr_" + id);
                    var children = tr.children; // 자식요소들을 선택할 수 있다.

                    $( children[1] ).text( form.name.value );
                    $( children[2] ).text( form.comment.value );
                    console.log( children );
                })
            }

            function deleteComment(id){
                axios({
                    method: 'delete',
                    url: 'http://localhost:8080/visitor/delete',
                    data: { id: id }
                }).then((rep) => { return rep.data; })
                .then((data) => {
                    alert( data );
                    var tr = document.getElementById("tr_" + id);
                    $( tr ).remove();

                    // $( "#tr_"+ id ).remove(); jquery를 이용할 수 도 있다.
                });
            }

        </script>
    </head>
<body>
    <div>
        <form id="form_comment" action="/visitor" target="_blank" method="GET">
            <fieldset style="width:300px;">
                <legend> 방명록 등록 </legend>
                    <input type = "text" name="name" placeholder="사용자 이름"><br>
                    <input type = "text" name="comment" placeholder="방명록"><br>
                    <div id="button-group">
                        <button type="button" onclick="writeComment();">등록</button>
                    </div>
            </fieldset><br>
        </form> 
    </div>
        <table id="visitr_list" cellpadding="5" cellspacing="2" border="1px">
            <thead>    
                <td>ID</td>
                <td>작성자</td>
                <td>방명록</td>
                <td>수정</td>
                <td>삭제</td>
            </thead>

            <tbody>
            <%
                for ( let i = 0; i < data.length; i++){
            %>
                <tr id="tr_<%=data[i].id%>">
                    <td><%=data[i].id%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].comment%></td>
                    <td><button type="button" onclick="editComment('<%=data[i].id%>');">수정</button></td>
                    <td><button type="button" onclick="deleteComment('<%=data[i].id%>');">삭제</button></td>
                </tr>
            <%
                }
            %>
            <tbody>
        </table>
    </body>
</html>