<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <title>Index.ejs</title>
    
        <script>
            function sendGet(){
                var form = document.getElementById("form_info");
                axios({
                    method:"get",
                    url:"http://localhost:8080/receive",
                    params:{
                        name: form.name.value,
                    }
                }).then((a) => { return a.data; })
                .then((d) => { 
                    alert( d.message );
                });
            }

        
        </script>

    </head>

    <body>
                <legend>폼 전송 - 실습</legend><br>
                
        <form id="form_info">
                이름 <input type="text" name="name" required>

                </label><br><br>
                <label for="gender_1">성별 
                <input type="radio" name="gender" id="gender_1" value="남" required>
                남자</label>
                <label for="gender_2">
                <input type="radio" name="gender" id="gender_2" value="여" required>
                여자</label><br><br>
        
                생년월일 
                <select name = "year">
                    <% for( var i= 1950 ; i<2023 ; i++ ){%>
                        <option value="<%=i%>"><%=i%></option>
                    <%}%>
                </select> 년
                
                <select name = "month">
                    <% for( var j= 01 ; j<13 ; j++ ){%>
                        <option value="<%=j%>"><%=j%></option>
                    <%}%>
                </select> 월
                
                <select name = "day">
                    <% for( var k= 01 ; k<32 ; k++ ){%>
                        <option value="<%=k%>"><%=k%></option>
                    <%}%>
                </select>일<br><br>
            <p id="form_info1"></p>
            <button type="button" onclick="sendGet()">회원가입</button>
        </form>
        </body>
</html>